<div class="partie-infos">
    Jour {{partie.date}} - 
</div>

<app-terrain [terrain]="partie.terrain"></app-terrain>

<div class="selection" *ngIf="selectedElement">
    {{selectedElement.type}}
    <!--div *ngIf="selectedElement.batiment">
        <div *ngIf="selectedElement.batiment.typeBatiment.nom === 'Robot'">
            <h4>Robot</h4>
            <button>Décollage</button>
        </div>
        <div *ngIf="selectedElement.batiment.typeBatiment.nom !== 'Robot'">
            <h4>Batiment</h4>
            {{selectedBatiment.typeBatiment.nom}}
            <button> ???</button>
        </div>
    </div-->

    <div *ngIf="selectedElement.type == TYPE_TARGET.CELLULE">
        <h4>Cellule</h4>
        {{selectedElement.cellule.x}} {{selectedElement.cellule.y}} {{selectedElement.cellule.celluleType}}
        <!--span *ngIf="selectedElement.cellule.actionMeeples">
            <div *ngFor="let meeple of selectedElement.cellule.actionMeeples.meeples">
                {{meeple.nom}} - Action: {{selectedElement.cellule.carte}} {{selectedElement.cellule.plan}}
            </div>
        </span-->
    </div>

    <div *ngIf="selectedElement.type === TYPE_TARGET.MEEPLE">
        <app-meeple-infos [meeple]="selectedElement.meeple"></app-meeple-infos>
    </div>

    <div>
        <button (click)="endStep">Fin de l'étape</button>
    </div>
</div>

<div class="logs">
    <div *ngFor="let msg of logs">{{msg}}</div>
</div>