<!DOCTYPE html>
<html ng-app="codenames">

  <head>
    <meta charset="utf-8" />
    <title>Codenames tranquilou (v 3.1)</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" href="codenames.css">
    <script src="codenames.js"></script>
    
  </head>

  <body ng-controller="CodenamesCtrl">
    <div ng-hide="role">
      <h1 ng-hide="role">Salut les espions ! </h1>
      Êtes-vous un maître espion ou un espion lambda ?
      <BR/>
      <button class="myButton" type="button" ng-click="setRole('M')">Maître espion !</button>
      <button class="myButton" type="button" ng-click="setRole('E')">Espion lambda</button>
      (mais plutôt classe, comme Joséphine Baker ou Albert Londres)
    </div>
    
    <button ng-show="role" ng-click="reset()">Recommencer</button>
    <BR/>
    
    <div ng-show="role == 'M'">
        <h1>Bonjour, Maître espion !</h1>
        <div ng-hide="demarree">
            Entrez le nom de code de votre nouvelle partie, ou le nom de code que vous a fourni l'autre Maître espion ayant créé la partie.
            <BR/>	
            <input class="myInput" ng-model="graineMaitre"/> 
            <BR/>
            <input type="radio" ng-model="dico" value="1">Dico basique 
            <BR/>
            <input type="radio" ng-model="dico" value="2">Dico spécial informatique
            <BR/>
            <input type="radio" ng-model="dico" value="3">Dico spécial perso
            <BR/>
            <button ng-click="generateMaitre()">Générer les tableaux</button>
        </div>
        <div ng-show="demarree">
            Code à donner aux espions pour qu'ils génèrent leur grille : <p style="color : red;">{{graineEspion}}</p>
            <BR/>
            
            Voici la grille de mots à faire deviner : 
            <table style="border-collapse: collapse">
              <tbody>
                <tr ng-repeat="ligne in tableauMots track by $index">
                  <td ng-click="modifyStyle(cell)"
                      ng-class="[cell.style, {checked: cell.checked}]"
                      
                      ng-repeat="cell in ligne track by $index">
                      <div ng-show="miroir" class="alenvers">{{cell.mot}}</div>
                    <HR  ng-show="miroir"/>
                      <div>{{cell.mot}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <BR/>
            <input type="checkbox" ng-model="miroir" value="true">Mode miroir
        </div>
    </div>
    
    <div ng-show="role == 'E'">
    	<div ng-hide="demarree">
            <h1>Bonjour, Espion !</h1>
            Entrez le code que le maître espion vous a fourni.
            <BR/>
            <input ng-model="graineEspion"/> 
            <BR/>
            <input type="radio" ng-model="dico" value="1">Dico basique 
            <BR/>
            <input type="radio" ng-model="dico" value="2">Dico spécial informatique
            <BR/>
            <input type="radio" ng-model="dico" value="3">Dico spécial perso
            <BR/>
            <button ng-click="generateEspion()">Générer les tableaux</button>
    	</div>
    	<div ng-show="demarree">
            <table style="border-collapse: collapse" ng-show="miroir">
              <tbody>
                <tr ng-repeat="ligne in tableauMots track by $index">
                  <td ng-click="modifyStyle(cell)"
                      ng-class="cell.style"
                      ng-repeat="cell in ligne track by $index">
                    <div class="alenvers">{{cell.mot}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <HR ng-show="miroir" />
            <table style="border-collapse: collapse">
              <tbody>
                <tr ng-repeat="ligne in tableauMots track by $index">
                  <td ng-click="modifyStyle(cell)"
                      ng-class="cell.style"
                      ng-repeat="cell in ligne track by $index">
                    <div>{{cell.mot}}</div>
                  </td>
                </tr>
              </tbody>
            </table>

            (Cliquez sur les cases pour les faire changer de couleur)
            <input type="checkbox" ng-model="miroir" value="true">Mode miroir
        </div>
    </div>
    
    <a href="http://iello.fr/regles/Codenames_regles.pdf">Règles officielles</a>
    
   

  </body>

</html>
