button{
	font-size:30px ; }	
td {
	border : 1px solid black; 
	text-align:center; 
	padding : 10px; 
	font-size:22px;
		width: 20%;
}


.checked {
border : 0px solid black; 
	-webkit-box-shadow: inset 0px 0px 50px 2px #000;
    -moz-box-shadow: inset 0px 0px 50px 2px #000;
    box-shadow: inset 0px 0px 50px 2px #000;
}

.alenvers {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	
}

      .rouge {
        color : white;
        background-color : red;
      }
      .bleu {
        color : white;
        background-color : blue;
      }
      .marron {
        color : black;
        background-color : #DDDDDD;
      }
      .noir {
        color : white;
        background-color : black;
      }
      .tableauIndices {
         border-collapse: collapse;
      }
      .tableauIndices td {
        width : 20px;
        height: 20px;
        border : 1px solid black;
        padding : 2px;
      }
      .caseRouge {
        background-color: red;
      }
      .caseBleu {
        background-color: blue;
      
      }
      .caseMarron {
        
      }
      .caseNoir {
        background-color: black;
      }
