
<!DOCTYPE html>
<html ng-app="reigns">

  <head>
    <meta charset="utf-8" />
    <title>Mon Reighs</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
    
    var app = angular.module('reigns', []);
app.controller('ReignsCtrl', function($scope, $location) {
  function init() {
    $scope.cellules = [];
    for (var l = 0; l < 5; l++) {
      var ligne = [];
      $scope.cellules.push(ligne);
      for (var c = 0; c < 5; c++) {
        var cellule = {l : l, c: c, type : "", disponible : false};
        ligne.push(cellule);
      }
    }
    $scope.joueur = { nom : "tim", sexe : "H", age : "1", pere : 'X', mere : 'Y', argent : 0 };
    $scope.nbOccupations = 1;
    $scope.occupations = [];
    $scope.age = 0;
  }
  
  init();
  
  $scope.infos = {
    0 : { msg : "Bonjour ! Vous venez de naître dans une petite chaumière du fond d'une campagne, quel est votre sexe et votre nom ?",
          activites : [
            { id : 1, label : "Dormir", description : "Vous dormez. Vous mangez. Vous faites vos besoins. Vous vous rendormez." }
          ] 
        },
    3 : { msg : "Vous avez 3 ans. Quelle est votre activité favorite ?",
          activites : [
            { id : 2, label : "Se promener dehors dans la nature", description : "." },
            { id : 3, label : "Gribouiller sur des feuilles", description : "." },
            { id : 4, label : "Accompagner vos parents au marché", description : "." }
          ] 
        },
    6 : { msg : "Vous avez 6 ans. Quelle est votre activité favorite ?",
          activites : [
            { id : 2, label : "Se promener dehors dans la nature", description : "." },
            { id : 3, label : "Gribouiller sur des feuilles", description : "." },
            { id : 4, label : "Accompagner vos parents au marché", description : "." }
          ] 
        },
    9 : { msg : "Vous avez 3 ans. Quelle est votre activité favorite ?",
          activites : [
            { id : 2, label : "Se promener dehors dans la nature", description : "." },
            { id : 3, label : "Gribouiller sur des feuilles", description : "." },
            { id : 4, label : "Accompagner vos parents au marché", description : "." }
          ] 
        },
    12 : { msg : "Vous avez 3 ans. Quelle est votre activité favorite ?",
          activites : [
            { id : 2, label : "Se promener dehors dans la nature", description : "." },
            { id : 3, label : "Gribouiller sur des feuilles", description : "." },
            { id : 4, label : "Accompagner vos parents au marché", description : "." }
          ] 
        },
  }
  
  $scope.continuer = function() {
    switch ($scope.joueur.age) {
      case 0: break;
      case 3 : break;
      case 6 : break;
   }
   $scope.joueur.age += 3;
  }
  
});
    
    
    </script>
    
    
    <style type="text/css">
      .choix {
        background-color : grey;
        padding : 10px;
        border : 1px solid black;
        text-align : center;
        display: inline-block;
      }
      .selected {
        background-color: white;
      }
    </style>
  </head>



  <body ng-controller="CodenamesCtrl">
      <p>{{infos[joueur.age].msg}}</p>

    <div ng-show="joueur.age == 0">
      Nom : <input type="text" ng-model="joueur.nom">
      <BR/>
      <input type="radio" ng-model="joueur.sexe" value="F">Femme
      <input type="radio" ng-model="joueur.sexe" value="H">Homme
      <BR/>
    </div>
    
    <div ng-show="joueur.age == 3">
            
    </div>
    
      Occupation pour les 3 années à venir : 
      <BR/>
      <div ng-repeat="possibilite in infos[joueur.age].activites" class="choix" ng-class="{selected : choix == possibilite.id}">
        <h2>{{possibilite.label}}</h2>
        <p>{{possibilite.description}}</p>
      </div>

    <button ng-click="continuer()">Continuer</button>
    <BR/>
          
  </body>

</html>
