<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">

    <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script data-require="bootstrap" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script data-require="lib" src="mtgfrdd.js"></script>
</head>

<body>
<div ng-app="Mtgfrdd">
    <div  ng-controller="MtgfrddCtrl" class="container">
        <h1>MtgFrDankDungeon 1.1</h1>

        <h3>{{partie.jour}} de l'année {{partie.annee}}</h3>

        <table class="table">
            <tr>
                <td>Reserve</td>
                <td>Batiments</td>
                <td>Colons</td>
                <td></td>
            </tr>
            <tr>
                <td><span ng-repeat="(f, v) in partie.reserve.affichage()">{{v}}<BR/></span></td>
                <td>
                    <div ng-repeat="batiment in partie.batiments" ng-click="partie.selectedBatiment = batiment; partie.selectedColon = null;">
                        {{batiment.nom}}
                    </div>
                    <h4>Chantiers</h4>
                    <div ng-repeat="chantier in partie.chantiers">
                        construction : {{chantier.proto.nom}}
                        <BR/>
                        Reste à faire : {{chantier.reste}}
                    </div>
                    <h4>Commencer un chantier</h4>
                    <div ng-repeat="chantierPossible in partie.chantiersPossibles">
                        {{chantierPossible.nom}}
                        <BR/>
                        {{chantierPossible.cout.affichage()}}
                        <button ng-click="partie.commencerChantier(chantierPossible)">Go</button>
                    </div>

                    <h4>Bâtiments pas constructibles</h4>
                    <div ng-repeat="chantier in partie.chantiersImpossibles">
                        {{chantier.nom}}
                        <BR/>
                        {{chantier.cout.affichage()}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="colon in partie.colons">
                        <button  ng-click="partie.selectedColon = colon; partie.selectedBatiment = null;">{{colon.nom}}</button>
                        <BR/>
                        {{colon.mission.nom}}
                        <BR/>
                        Santé : {{colon.sante}}
                    </div>
                </td>
                <td>
                    <div ng-show="partie.selectedColon">
                        <h4>Colon {{partie.selectedColon.nom}}</h4>
                        Age : {{partie.annee - partie.selectedColon.dateNaissance}} ans | Santé : {{partie.selectedColon.sante}}
                        <BR/>
                        Mission : <select class="form-control"
                                          ng-model="partie.selectedColon.mission"
                                          ng-options="mission as mission.nom for mission in partie.protoMissions"></select>
                        <BR/>
                        <select ng-show="partie.selectedColon.mission.code === 'TC'"
                                class="form-control"
                                ng-model="partie.selectedColon.missionChantier"
                                ng-options="chantier as chantier.proto.nom for chantier in partie.chantiers"></select>
                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-primary" ng-click="valider()" >Valider</button>
        <BR/>
        <h4>Journée précédente</h4>
        <span ng-repeat="ligne in resultat">
            {{ligne}}
            <BR/>
        </span>

        <h3>Règles</h3>
        Les bâtiments se dégradent : 1/2 chances de perdre 1 pt de durabilité.
        <BR/>
        Un colon perd 3+ santé par jour, en récupère sur glande / repos / bouffe
        <BR/>
    </div>
</div>

</body>

</html>
