<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
<script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>


  



    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script data-require="bootstrap" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script data-require="lib" src="mtgfrdd_objects.js"></script>
    <script data-require="lib" src="mtgfrdd_partie.js"></script>
    <script data-require="lib" src="mtgfrdd.js"></script>
    <link rel="stylesheet" href="mtgfrdd.css">
</head>

<body>
<div ng-app="Mtgfrdd">
    <div  ng-controller="MtgfrddCtrl" class="container">
        <h1>MtgFrDankDungeon 1.1</h1>

        <button class="btn" ng-class="{ 'btn-primary' : tab === 'choix'}" ng-click="tab = 'choix'" >Colons</button>
        <button class="btn" ng-class="{ 'btn-primary' : tab === 'carte'}" ng-click="tab = 'carte'" >Carte</button>
        <button class="btn" ng-class="{ 'btn-primary' : tab === 'resume'}" ng-click="tab = 'resume'" >Infos</button>
        <button class="btn" ng-class="{ 'btn-primary' : tab === 'regles'}" ng-click="tab = 'regles'" >Règles</button>

        <div ng-show="tab === 'resume'">
            <h3>{{partie.jour}} de l'année {{partie.annee}}</h3>
            <BR/>
            <h4>Journée précédente</h4>
            <span ng-repeat="ligne in resultat">
                {{ligne}}
                <BR/>
            </span>
        </div>

        <div  ng-show="tab === 'choix'">
        <table class="table" ng-show="tab === 'choix'">
            <tr>
                <td>Reserve</td>
                <td>Batiments</td>
                <td>Colons</td>
                <td></td>
            </tr>
            <tr>
                <td><span ng-repeat="(f, v) in partie.reserve.affichage()">{{v}}<BR/></span></td>
                <td>
                    <div ng-repeat="batiment in partie.batiments" ng-click="gui.selectedBatiment = batiment; gui.selectedColon = null;">
                        {{batiment.nom}}
                    </div>
                    <h4>Chantiers</h4>
                    <div ng-repeat="chantier in partie.chantiers">
                        construction : {{chantier.proto.nom}}
                        <BR/>
                        Reste à faire : {{chantier.reste}}
                    </div>

                    <h4>Bâtiments pas constructibles</h4>
                    <div ng-repeat="chantier in partie.chantiersImpossibles">
                        {{chantier.nom}}
                        <BR/>
                        {{chantier.cout.affichage()}}
                    </div>
                </td>
                <td>
                    <div ng-repeat="colon in partie.colons"
                         class="colon"
                         ng-click="selectColon(colon);"
                         ng-class="{ 'selected-colon' : colon === gui.selectedColon }">
                        {{colon.nom}}
                        <BR/>
                        <span ng-show="colon.mission && colon.mission.type === 'Chan'">
                            Travaille sur un chantier : {{colon.mission.sousType}}
                            <BR/>
                        </span>
                        <span ng-show="colon.mission && colon.mission.type === 'Reco'">
                            Récolte : {{colon.mission.sousType}}
                            <BR/>
                        </span>
                        <span ng-show="colon.mission && colon.mission.type !== 'Chan' && colon.mission.type !== 'Reco'">
                            Occupation : {{colon.mission.sousType}}
                            <BR/>
                        </span>
                        Santé : {{colon.sante}}
                    </div>
                </td>
                <td>
                    <div ng-show="gui.selectedColon">
                        <h4>Colon {{gui.selectedColon.nom}}</h4>
                        Age : {{partie.annee - gui.selectedColon.dateNaissance}} ans | Santé : {{gui.selectedColon.sante}}
                        <BR/>
                        Traits : {{gui.selectedColon.traits}}
                        <BR/>
                        <button ng-show="gui.selectedMission"
                                ng-click="gui.selectedMission = null; gui.selectedSubMission = null;">
                            {{gui.selectedMission}}
                        </button>
                        <div ng-hide="gui.selectedMission"
                                ng-repeat="(cle, mission) in partie.getMissions(gui.selectedColon)">
                            <button ng-click="gui.selectedMission = cle">{{mission.nom}}</button>
                        </div>
                        <BR/>
                        <BR/>
                        <button ng-click="gui.selectedSubMission = null;" ng-show="gui.selectedSubMission">
                            {{gui.selectedSubMission}}
                        </button>
                        <div ng-hide="gui.selectedSubMission"
                             ng-repeat="(cle, subMission) in partie.getSubMissions(gui.selectedColon, gui.selectedMission)">
                            <button ng-click="gui.selectedSubMission = cle">{{subMission}}</button>
                        </div>
                        <BR/>
                        <BR/>
                        <button ng-click="validerMission()" ng-show="gui.selectedMission && (gui.selectedSubMission  || gui.selectedMission.type=='Rien')">
                            Valider
                        </button>

                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-primary" ng-click="valider()" >Valider</button>
        </div>

        <div  ng-show="tab === 'carte'">
            <h3>Carte</h3>
            
            <div id="mycanvas">
            </div>
            {{partie}}
            <div class="row">
                <div class="col-md-8">
                    <table class="zones">
                        <tbody>
                            <tr ng-repeat="ligne in partie.zones">
                                <td ng-repeat="zone in ligne">
                                    <div class="zone"
                                         ng-class="{'cache': !zone.explore, 'selected' : gui.selectedZone === zone }"
                                         ng-click="selectZone(zone)">
                                        <span ng-show="zone.explore && !zone.chantier && !zone.batiment">{{zone.cout.affichage()}}</span>
                                        <span ng-show="zone.explore && zone.chantier">
                                            Chantier <BR/>{{zone.chantier.proto.nom}}</span>
                                        <span ng-show="zone.explore && zone.batiment">
                                            Batiment <BR/>{{zone.batiment.proto.nom}}</span>
                                        <span ng-hide="zone.explore" class="cache">?</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div ng-show="gui.selectedZone && gui.selectedZone.explore && !gui.selectedZone.chantier"
                        class="panel">
                        <h4>Commencer un chantier</h4>
                        <div ng-repeat="chantierPossible in partie.getChantiersPossibles(gui.selectedZone)">
                            {{chantierPossible.nom}}
                            <BR/>
                            {{chantierPossible.cout.affichage()}}
                            <button ng-click="commencerChantier(chantierPossible)">Go</button>
                        </div>
                    </div>
                    <div ng-show="gui.selectedZone && gui.selectedZone.chantier"
                         class="panel">
                        <h4>Chantier</h4>
                        {{gui.selectedZone.chantier}}
                    </div>
                    <div ng-show="gui.selectedZone && gui.selectedZone.batiment"
                         class="panel">
                        <h4>Batiment</h4>
                        {{gui.selectedZone.batiment}}
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="tab==='regles'">
            <h3>Règles</h3>
            Démarrez des chantiers, assignez des gens dessus pour les transformer en bâtiments, puis assignez des gens sur les bâtiments.
            <BR/>
            Sinon envoyez des gens récolter des ressources,
            <BR/>
            explorer les environs pour savoir où sont les coins riches en ressources
            <BR/>
            ou glander pour augmenter leur satisfaction et leur faire découvrir des traits positifs (cuisinier, géologue, conteur, herboriste etc).
            <BR/>
            <BR/>
            Les bâtiments se dégradent chaque tour: 1/2 chances de perdre 1 pt de durabilité.
            <BR/>
            <BR/>
            Un colon perd 3+ santé par jour, en récupère sur glande / repos / bouffe
            <BR/>
            Un colon a un niveau de satisfaction qui le rend plus efficace au fur et à mesure de la progression :
            <BR> 1 quand il débarque.
            <BR/>
            2 quand il a un toit et n'a pas faim
            <BR/>
            3 quand il a de la nourriture variée et des meubles et occupations
            <BR/>
            etc. Un colon qui descend de niveau renaclera à obéir aux ordres.
            <BR/>
            <BR/>
            Les colons ont plusieurs caractéristiques :
            <BR/>
            Force
            <BR/>Muscle  porter des lourdes charges
            <BR/>boulot : peut en faire plus
            <BR/>combat : porte armes et armures plus grosses
            <BR/>crise : moins sensible à la fatigue
            <BR/>
            <BR/>Endurance : Marcher longtemps, travailler longtemps sur un problème
            <BR/>boulot : peut faire plus logntepms et sait optimiser les processus
            <BR/>combat : peut durer plus longtemps
            <BR/>crise : moins affecté
            <BR/>
            <BR/>Intelligence : Trouver des patterns et des solutions compliquées rapidement
            <BR/>Cerveau
            <BR/>boulot : peut faire des boulot nécessitant intelligence
            <BR/>combat : peut analyser pour gérer mieux
            <BR/>crise : peut trouver issue
            <BR/>
            <BR/>Agilité : agilité manuelle, dextérité
            <BR/>boulot : peut faire des boulots minutieux
            <BR/>combat : peut éviter les coups
            <BR/>crise : peut s'en tirer par une pirouette
            <BR/>
            <BR/>social : contact facile avec les gens
            <BR/>boulot : diminue l'aspect négatif, rend ludique
            <BR/>combat : défuse les situations ou peut faire tilter
            <BR/>crise : défuse la situation, gère stress post crise
        </div>
    </div>
</div>

</body>

</html>
