.colon {
    border : 1px solid black;
     margin : 2px;
    width:100%;
}
.colon:hover {
    background : #AFA;
}

.selected-colon {
    border : 3px solid green;
    margin: 2px 2px 2px 2px;
    background : #CFC;
}

    canvas {
        height: window.height;
        width : window.width;
        position : fixed;
        left : 0px;
        top : 0px;
    }
    .panel {
        border : 3px solid black;
        background : white;
        min-height: 50px;
        min-width : 100px;
        position : relative;
    }
    .panel.panel-left {
        left : 0px;
        border-left : none;
        width : 200px;
    }

    .mapcontainer {
        width: 800px;
        height: 600px;
        overflow: auto;
    }
    .map {
        font-size : 8px;
    }

    .cell {
        margin: 2px;
        width:32px;
        height:32px;
        border : 1px solid black;
        display: inline-block;
        position : absolute;
    }
    .cell.cache {
        background : none;
        background-color : grey;
    }
    .depart {
        background : url("/assets/tileset.png");
        background-position : -32px -378px;
    }
    .terre {
        background : url("/assets/tileset.png");
        background-position : -32px -467px;
    }
    .eau {
        background : url("/assets/tileset.png");
        background-position : -96px -2880px;
    }
    .ocean {
        background : url("/assets/tileset.png");
        background-position : -190px -2428px;
    }
    .poisson {
        background-color : #94D1bb;
    }
    .montagne {
        background : url("/assets/tileset.png");
        background-position : -224px -2206px;
    }
    .foret {
        background : url("/assets/tileset.png");
        background-position : -64px -4052px;
    }
    .ville {
        background-color : grey;
    }
    .mine {
        background-color : black;
    }
    .champ {
        background-color : #bbD1bb;
    }


.panel {
    border : 3px solid grey;
    background-color : #EFA;
}
