<ion-view title="Mes Jeux">
    <ion-nav-buttons side="right">
        <a class="button icon ion-plus-circled" ui-sref="tab.recherche">

        </a>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Mes jeux</h2>

        <button class="button" ng-click="vm.askImport()">
            Importer de BGG
        </button>
        <ion-toggle toggle-class="toggle-positive" name="jeux" ng-model="vm.ext">Extensions</ion-toggle>
        <div class="button-bar">
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 1}" ng-click="vm.nbj === 1 ? vm.nbj = null : vm.nbj = 1">1</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 2}" ng-click="vm.nbj === 2 ? vm.nbj = null : vm.nbj  = 2">2</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 3}" ng-click="vm.nbj === 3 ? vm.nbj = null : vm.nbj  = 3">3</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 4}" ng-click="vm.nbj === 4 ? vm.nbj = null : vm.nbj  = 4">4</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 5}" ng-click="vm.nbj === 5 ? vm.nbj = null : vm.nbj  = 5">5</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 6}" ng-click="vm.nbj === 6 ? vm.nbj = null : vm.nbj  = 6">6</button>
            <button class="button" ng-class="{'button-balanced' : vm.nbj === 7}" ng-click="vm.nbj === 7 ? vm.nbj = null : vm.nbj  = 7">7+</button>
        </div>

        <BR/>

        <ion-spinner ng-show="vm.attente"></ion-spinner>

        <ion-list ng-repeat="jeu in vm.mesJeux | filter : vm.filtreJeux ">
                <ion-item class="item-thumbnail-left" ng-click="vm.selectJeu(jeu)">
                    <img ng-src="http:{{jeu.jeu.thumbnail}}">
                    <h2>{{jeu.jeu.nom}} <span ng-show="jeu.jeutype === 'Extension'" style="color : grey; font-size : smaller;">(extension)</span></h2>
                    {{jeu.jeu.nbJoueursMin}} - {{jeu.jeu.nbJoueursMax}} joueurs | à partir de {{jeu.jeu.minAge}} ans
                </ion-item>
            <jeu click="vm.selectJeu" jeu="jeu"></jeu>
        </ion-list>
    </ion-content>
</ion-view>