<div class="cellule-container">
    <div class="arriere-plan" [ngClass]="{'selected': cellule.selected,
        'eau': cellule.celluleType === TYPE_CELLULE.EAU, 
        'mer': cellule.celluleType === TYPE_CELLULE.MER, 
        'foret': cellule.celluleType === TYPE_CELLULE.FORET, 
        'plaine': cellule.celluleType === TYPE_CELLULE.PLAINE, 
        'terre': cellule.celluleType === TYPE_CELLULE.TERRE}"></div>
    <div (click)=" select()" class="cellule" 
    [ngClass]="{'accessible' : cellule.accessible, 
    'invisible': !cellule.visible}">
        <!--XY {{cellule.x - 5}} {{cellule.y - 4}}
        <br>
        hxyz {{cellule.hx}} {{cellule.hy}} {{cellule.hz}}
        <br/>
    {{cellule.celluleType}}-->
        <span *ngIf="cellule.visible">
            {{cellule.contenu}}
            {{cellule.dormeur?.symbole}}
        </span>
        <span *ngIf="cellule.meeplesPresents">
            <span *ngFor="let meeple of cellule.meeplesPresents" class="meeple" [ngClass]="{'selected': meeple.selected, 'deplacable': meeple.deplacement < meeple.deplacementMax,
        'fini': meeple.action }" (click)="selectMeeple($event, meeple)">{{meeple.symbole}}</span>
        </span>
        <div *ngIf="cellule.batiment" class="batiment">
            {{cellule.batiment.proto.nom}}
        </div>

    </div>
</div>