.cellule {
    width: 30px;
    height: 20px;
    background-color: lightgray;
    &.selected{
        border: 1px solid darkgray;
    }
}

.meeple {
    border: 1px solid white;
    cursor: col-resize;
    background-color: lightgray;
    &.selected{
        border: 1px solid darkgray;
    }
}