<div (click)="select()" class="cellule" [ngClass]="{'selected': cellule.selected, 
    'invisible': !cellule.visible,
    'ocean': cellule.celluleType === CEL
    }">
    <span *ngIf="cellule.visible">
        {{cellule.contenu}}
        {{cellule.dormeur?.symbole}}
    </span>
    <span *ngIf="cellule.meeplesPresents">
        <span *ngFor="let meeple of cellule.meeplesPresents"
            class="meeple"
            [ngClass]="{'selected': meeple.selected}"
            (click)="selectMeeple($event, meeple)"
            >{{meeple.symbole}}?</span>
    </span>
    <span *ngIf="!cellule.visible">XXXX</span>
</div>