.cellule {
    width: 30px;
    height: 20px;
    background-color: lightgray;
    &.invisible {
        background-color: darkgray;
    }
    &.selected{
        border: 1px solid darkgray;
    }
    &.ocean {
        background-color: rgb(223, 223, 255);
    }
    &.foret {
        background-color: rgb(178, 194, 170);
    }
    &.plaine {
        background-color: rgb(218, 218, 182);
    }
}

.meeple {
    border: 1px solid white;
    cursor: col-resize;
    background-color: lightgray;
    &.selected{
        border: 1px solid darkgray;
    }
}