<div (click)="select()" class="cellule" 
    [ngClass]="{'selected': cellule.selected,
        'eau': cellule.celluleType === CelluleType.EAU, 
        'mer': cellule.celluleType === CelluleType.MER, 
        'foret': cellule.celluleType === CelluleType.FORET, 
        'plaine': cellule.celluleType === CelluleType.PLAINE, 
        'invisible': !cellule.visible, 
    'accessible': cellule.accessible}">
        XY {{cellule.x - 5}} {{cellule.y - 4}}
        <br>
        hxyz {{cellule.hx}} {{cellule.hy}} {{cellule.hz}}
        <br/>
    {{cellule.celluleType}}  {{CelluleType.FORET}}
    <span *ngIf="cellule.visible">
        {{cellule.contenu}}
        {{cellule.dormeur?.symbole}}
    </span>
    <span *ngIf="cellule.meeplesPresents">
        <span *ngFor="let meeple of cellule.meeplesPresents"
            class="meeple"
            [ngClass]="{'selected': meeple.selected, 'deplacable': meeple.deplacement < meeple.deplacementMax}"
            (click)="selectMeeple($event, meeple)"
            >{{meeple.symbole}}?</span>
    </span>
    <span *ngIf="!cellule.visible">XXXX</span>
</div>
