$selected-color:rgb(255, 249, 199);
$accessible-color:rgb(74, 255, 74);

$w : 64px;
$h: 40px;
$s: 16px; // sprite size

.cellule-container {
    position: relative;
    width: $w;
    height: $h;
    
    border: 1px solid lightgray;
    
    &.selected{
        border: 1px solid $selected-color;
    }
    &.accessible {
        border: 1px solid $accessible-color;
    }
     
    .arriere-plan {
        position: absolute;
        width: $w;
        height: $h;
        background: url(/assets/tileset.png);
        // width 
        background-size: 512px;
        &.eau {
            background-position-x: -6*$s;
            background-position-y: -2*$s;
        }
        &.mer {
            background-color: rgb(185, 202, 255);
        }
        &.foret {
            background-position-x: -1*$s;
            background-position-y: -30*$s;
            background-size: 128px;
        }
        &.plaine {
            // default
            background-position-x: 0;
            background-position-y: 0;
        }
        
        &.pierre {
            background-position-x: -3*$s;
            background-position-y: -25*$s;
        }
        &.invisible {
            //background: none;
            background-color: darkgray;
        }
    }
.cellule {
    position: absolute;
    width: $w;
    height: $h;
}

.meeple {
    border: 1px solid white;
    cursor: col-resize;
    background-color: rgb(237, 255, 225);
    &.deplacable {
        background-color: $accessible-color;
    }
    &.fini {
        background-color: black;
        color: white;
    }
    
    &.selected{
        border: 1px solid $selected-color;
    }
    }
    .batiment {
        color: white;
        background-color: rgb(192, 103, 67);
        padding: 2px;
    }
}