<ion-view title="Fiche Jeu">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>{{vm.jeu.nomEn}}</h1>
        <div style=" border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" ng-show="!vm.jeu.image"
               style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            <img style="width:50%;"  ng-src="http:{{vm.jeu.image}}" />
        </div>
        <h2>{{jeu.primaryName}}</h2>
        <p>Designer : {{jeu.designer}}</p>
        {{jeu.nombreJoueursMin}} - {{jeu.nombreJoueursMax}} joueurs | à partir de {{jeu.minAge}} ans
        <BR/>
        {{jeu.tempsJeuMin}} - {{jeu.tempsJeuMax}} mins
        <BR/>

        <div class="button-bar">
            <button class="button button-block button-positive" ng-click="vm.desire()">
                <i class="icon ion-trash-a"></i> Je voudrais l'avoir !
            </button>
            <button class="button button-block button-balanced" ng-click="vm.ajoute()">
                <i class="icon ion-trash-a"></i> Je l'ai !
            </button>
        </div>
    </ion-content>
</ion-view>