<style type="text/css">
    .cell {
        margin: 5px;
        width:30px;
        height:30px;
        border : 1px solid black;
        display: inline-block;
    }
    .terre {
        background-color : #FAE9C0;
    }
    .eau {
        background-color : #CCF1FF;
    }
</style>

<div ng-repeat="ligne in dc.map">
    <div ng-repeat="cell in ligne">
        <div class="cell" ng-class="cell.type">
            {{cell.x}} - {{cell.y}}
            <BR/>
            {{cell.type}}
        </div>
    </div>
</div>
<button ng-click="dc.finTour()" ng-enabled="dc.actionEnabled">Fin de tour</button>
