<style type="text/css">
    
    .mapcontainer {
        width: 800px;
        height: 400px;
        overflow: scroll;
    }
    .map {
        font-size : 8px;
        width:1200px;
        height: 1200px;
    }
    
    .cell {
        margin: 2px;
        width:30px;
        height:30px;
        border : 1px solid black;
        display: inline-block;
    }
    .terre {
        background : url("./assets/tileset.png");
        background-position : -32px -467px;
    }
    .eau {
        background : url("./assets/tileset.png");
        background-position : -109px -32px;
    }
    .ocean {
        background : url("./assets/tileset.png");
        background-position : -190px -2428px;
    }
    .poisson {
        background-color : #94D1bb;
    }
    .montagne {
        background : url("./assets/tileset.png");
        background-position : -224px -2206px;
    }
    .foret {
        background : url("./assets/tileset.png");
        background-position : -64px -4052px;
    }
    .ville {
        background-color : grey;
    }
    .mine {
        background-color : black;
    }
    .champ {
        background-color : #bbD1bb;
    }
    .joueur1 {
        margin:1px;
        border-width:2px;
        border-color:green;
        color: green;
    }
    .joueur2 {
        margin:1px;
        border-width:2px;
        border-color:red;
        color: red;
    }
    .joueur3 {
        margin:1px;
        border-width:2px;
        border-color:yellow;
        color: yellow;
    }
    .selected {
        margin:0px;
        border-width:3px;
        border-color: blue;
    }
</style>
<div class="mapcontainer">
<div class="map">
    <div ng-repeat="ligne in dc.partie.carte.cells">
        <div ng-repeat="cell in ligne" class="cell {{cell.type}} joueur{{cell.joueur}}" ng-class="{selected : cell == dc.selectedCell}" ng-click="dc.select(cell.x, cell.y)">
            <span ng-show="cell.targetMv" class="targetmv">O</span>
            <span ng-show="cell.targetAtk" class="targetatk">O</span>
        </div>
    </div>
</div>
</div>
<div class="controles">
<button ng-click="dc.finTour()" ng-enabled="dc.actionEnabled">Fin de tour</button>
    {{dc.selectedCell}}
    <button ng-repeat="action in dc.partie.getActions()" ng-click="dc.action(action);">{{action.nom}}<BR/>{{action.desc}}</button>
    <BR/>
    {{dc.nbEtoiles}} Etoiles (+ {{dc.nbGain}} Etoiles / tour) | Tour {{dc.numTour}}
</div>
