<style type="text/css">
    
    
    .map {
        overflow:hidden;
        font-size : 8px;
    }
    
    .cell {
        margin: 2px;
        width:30px;
        height:30px;
        border : 1px solid black;
        display: inline-block;
    }
    .terre {
        background-color : #FAE9C0;
    }
    .eau {
        background-color : #CCF1FF;
    }
    .montagne {
        background-color : lightgrey;
    }
    .foret {
        background-color : #94D19C;
    }
    .selected {
        margin:0px;
        border-width:3px;
        border-color: blue;
    }
</style>
<div class="map">
    <div ng-repeat="ligne in dc.map">
        <div ng-repeat="cell in ligne" class="cell" ng-class="cell.type" ng-class="{selected : cell === dc.selectedCell}" ng-click="dc.select(cell.x, cell.y)">
            {{cell.x}} - {{cell.y}}
        </div>
    </div>
</div>
<button ng-click="dc.finTour()" ng-enabled="dc.actionEnabled">Fin de tour</button>
