<span [ngStyle]="{'border': '2px solid ' + meeple.color1, 'padding':'1.5px 0', 'border-radius':'10px'}">
    <span [ngStyle]="{'border': '2px solid ' + meeple.color2, 'padding': '0 3px', 'border-radius':'8px'}">
        {{meeple.nom}} ({{meeple.symbole}})
    </span>
</span>
<div>sante: {{meeple.sante}}</div>
<div>esperance de vie : {{meeple.esperance}}</div>
<div>status: {{meeple.status}}</div>
<div>déplacements: {{meeple.deplacement}}/{{meeple.deplacementMax}}</div>
<div>pts d'action {{meeple.actionPoints}}</div>
<button (click)="setOrdre($event, 'couche')">Définir L</button>

<div>
    <div>{{meeple.position.celluleType}}</div>
    <div>Actions possibles</div>
    <div *ngFor="let action of actions">
        <div *ngIf="action.type_action === TYPE_ACTION.CONSTRUCTION">
            <button (click)="doAction(action)">{{action.description}}</button>
        </div>
        <div *ngIf="action.type_action === TYPE_ACTION.EXPLORATION">
            <button (click)="doAction(action)">{{action.description}}</button>
        </div>
        <div *ngIf="action.type_action === TYPE_ACTION.RECOLTE">
            <button (click)="doAction(action)">{{action.description}}</button>
        </div>
        <div *ngIf="action.type_action === TYPE_ACTION.TRAVAIL">
            <button (click)="doAction(action)">{{action.description}}</button>
        </div>
    </div>
</div>