<ion-view title="Accueil">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/page1/parametres" class="button button-stable button-block button-small">Parametres</a>
        <a href="#/page1/jeux" class="button button-stable button-block ">12 jeux</a>
        <button class="button button-stable button-block ">2 Prêts</button>
        <a href="#/page1/joueurs" class="button button-stable button-block ">3 amis</a>
        <a href="#/page1/parties" class="button button-stable button-block ">12 Parties</a>
    </ion-content>
</ion-view>