<ion-view title="Fiche Jeu">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Carcassone</h1>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <ion-item class="range range-positive">Note
                <input type="range" value="5" min="0" max="5">
            </ion-item>
            <div>
                <p>Status : Je l'ai / l'ai pas / veux l'avoir / veut le vendre /</p>
            </div>
        </form>
    </ion-content>
</ion-view>