<ion-view title="Fiche Ami">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="nom">
                <span class="input-label">Nom</span><textarea placeholder="Nom"> Albert</textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-select" name="couleur">
                <span class="input-label">Couleur de meeple</span>
                <select></select>
            </label>
        </form>
        <button class="button button-stable button-block  icon-right ion-android-done">Mettre à jour</button>
        <a href="#/page1/prets" class="button  button-block  icon-right ion-android-share-alt">Prêter / Emprunter un jeu</a>
    </ion-content>
</ion-view>