<ion-view title="Parties">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/page1/partie" class="button button-stable button-block ">Créer une partie</a>
        <h3>Partie en cours</h3>
        <a href="#/page1/partie" class="button button-stable button-block ">Carcassone - 4 joueurs - 10/02</a>
        <h3>Parties terminées</h3>
        <button class="button button-stable button-block ">Dixit - Vainqueur Mathieu</button>
        <button class="button button-stable button-block ">7 wonders - Vainqueur Mathieu</button>
        <button class="button button-stable button-block ">Grubule - VainqueurSteeve</button>
    </ion-content>
</ion-view>