<ion-view title="Partie">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-item>Albert</ion-item>
            <ion-item>Roger</ion-item>
            <label class="item item-select">
                <span class="input-label">Ajouter un joueur</span>
                <select></select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <button class="button button-stable button-block ">Sélectionner le jeu</button>
        <button class="button button-stable button-block ">Démarrer la partie</button>
        <a href="#/page1/outils" class="button button-stable button-block ">Outils de jeu</a>
        <button class="button button-stable button-block ">Saisir les résultats</button>
    </ion-content>
</ion-view>