<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Accueil" icon="ion-android-home" href="#/page1/accueil">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Jeux" icon="ion-ios-game-controller-b" href="#/page1/jeux">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Amis" icon="ion-android-people" href="#/page1/joueurs">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Recherche" icon="ion-search" href="#/page1/recherche">
            <ion-nav-view name="tab8"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>